{
  "env": {
    "local": {
      "db": "http://127.0.0.1:5984/godisciple"
    },
    "cloudant": {
      "db": "https://thesesightyetchodychosse:fGXx7EXG0C75Rgt5Nfdi7jOo@lucyhutcheson.cloudant.com/pocketministry"
    }
  }
}
