{
  "env": {
    "local": {
      "db": "http://127.0.0.1:5984/godisciple"
    },
    "cloudant": {
      "db": "https://mystereastapeandstratand:t11dkA5qlpQnGMwOVln8cogD@godisciple.cloudant.com/godisciple"
    }
  }
}
