/**
 * @author Lucy Hutcheson
 * Created for:  Advanced Visual Frameworks 1207
 */

/* LAYOUT ELEMENTS */
.required {
	color: red;
}
.error {
	color: #fff;
	font-style: italic;
	text-shadow: 0 1px 0 #333;
	line-height: 30px;
}
.message {
	font-style: italic;
	color: #edff97;
	margin-bottom: 10px;
}
fieldset legend {
	font-weight: bold;
	color: #607401;
	padding-bottom: 10px;
}
#logo {
	text-align: center;
}
#feature {
	padding-bottom: 10px;
	clear: both;
}

#content .content-container {
	background: #f3f3f3;
	padding: 20px;
	font-weight: normal;
}
.ui-input-datebox {
	background: #333 !important;
	border: 0 none !important;
}
.hidden {
	display: none !important;
	visibility: hidden;
}
.ui-br {
	border-bottom: 1px solid #0c7c7f;
}
.ui-footer {
	background: url('../images/wood.png') repeat-x;
	-webkit-box-shadow:  0px -3px 5px 0px rgba(0, 0, 0, 0.3);
	box-shadow:  0px -3px 5px 0px rgba(0, 0, 0, 0.3);
	padding-bottom: 20px;
}
#home .logo {
	text-align: center;
	padding-top: 50px;
	margin-bottom: 50px;
}
#addForm label, #addForm #required {
	color: #fff;
	text-shadow: 0 1px 0 #222;
}
#addForm h3 {
	color: #95b401;
	text-shadow: 0 1px 0 #222;
}
#map_canvas {
	width: 80%;
	height: 20%;
}

/*  
 * Data Theme F 
 * ======================== *
 */
.ui-body-f, .ui-overlay-f {
	border: 1px solid #999;
	color: #222;
	text-shadow: 0 1px 0 white;
	font-weight: normal;
	background-color: #ededed;
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(237,237,237, 0.5)), color-stop(100%, rgba(153,153,153, 0.5))), url('../images/bg.png');
	background-image: -webkit-linear-gradient(top, rgba(237,237,237, 0.5), rgba(110,110,110, 0.35)), url('../images/bg.png');
	background-image: -moz-linear-gradient(top, rgba(237,237,237, 0.5), rgba(153,153,153, 0.5)), url('../images/bg.png');
	background-image: -ms-linear-gradient(top, rgba(237,237,237, 0.5), rgba(153,153,153, 0.5)), url('../images/bg.png');
	background-image: -o-linear-gradient(top, rgba(237,237,237, 0.5), rgba(153,153,153, 0.5)), url('../images/bg.png');
	background-image: linear-gradient(top, rgba(237,237,237, 0.5), rgba(153,153,153, 0.5)), url('../images/bg.png');
}
.ui-body-f, .ui-body-f input, .ui-body-f select, .ui-body-f textarea, .ui-body-f button {
font-family: Helvetica,Arial,sans-serif;
}
.ui-bar-f {
	border-bottom: 1px solid #607401;
	background: #607401;
	color: white;
	font-weight: bold;
	text-shadow: 0 1px 1px #607401;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#95b401), to(#607401));
	background-image: -webkit-linear-gradient(#95b401, #607401);
	background-image: -moz-linear-gradient(#95b401, #607401);
	background-image: -ms-linear-gradient(#95b401, #607401);
	background-image: -o-linear-gradient(#95b401, #607401);
	background-image: linear-gradient(#95b401, #607401);
}
.ui-bar-f, .ui-bar-f input, .ui-bar-f select, .ui-bar-f textarea, .ui-bar-f button {
    font-family: Helvetica,Arial,sans-serif;
}
.ui-bar-f, .ui-bar-f .ui-link-inherit {
    color: #FFFFFF;
}
.ui-bar-f .ui-link {
    color: #FFFFFF;
    font-weight: bold;
}
.ui-btn-up-f {
	border: 1px solid #607401;
	background: #607401;
	font-weight: bold;
	color: white;
	text-shadow: 0 1px 1px #607401;
	background-image: -webkit-gradient(linear,left top,left bottom,from(#95b401),to(#607401));
	background-image: -webkit-linear-gradient(#95b401, #607401);
	background-image: -moz-linear-gradient(#95b401, #607401);
	background-image: -ms-linear-gradient(#95b401, #607401);
	background-image: -o-linear-gradient(#95b401, #607401);
	background-image: linear-gradient(#95b401, #607401);
    border: 1px solid #607401;
    color: #FFFFFF;
    font-weight: bold;
    text-shadow: 0 1px 1px #607401;
}
.ui-btn-up-f a.ui-link-inherit {
    color: #FFFFFF;
}
.ui-btn-hover-f {
	background-image: -webkit-gradient(linear,left top,left bottom,from(#607401),to(#95b401));
	background-image: -webkit-linear-gradient(#607401, #95b401);
	background-image: -moz-linear-gradient(#607401, #95b401);
	background-image: -ms-linear-gradient(#607401, #95b401);
	background-image: -o-linear-gradient(#607401, #95b401);
	background-image: linear-gradient(#607401, #95b401);
    background: -moz-linear-gradient(#607401, #95b401) repeat scroll 0 0 #607401;
    border: 1px solid #607401;
    color: #FFFFFF;
    font-weight: bold;
    text-shadow: 0 1px 1px #607401;
}
.ui-btn-hover-f a.ui-link-inherit {
    color: #FFFFFF;
}
.ui-btn-down-f {
	background-image: -webkit-gradient(linear,left top,left bottom,from(#607401),to(#95b401));
	background-image: -webkit-linear-gradient(#607401, #95b401);
	background-image: -moz-linear-gradient(#607401, #95b401);
	background-image: -ms-linear-gradient(#607401, #95b401);
	background-image: -o-linear-gradient(#607401, #95b401);
	background-image: linear-gradient(#607401, #95b401);
    background: -moz-linear-gradient(#607401, #95b401) repeat scroll 0 0 #95b401;
    border: 1px solid #607401;
    color: #FFFFFF;
    font-weight: bold;
    text-shadow: 0 1px 1px #607401;
}
.ui-btn-down-f a.ui-link-inherit {
    color: #FFFFFF;
}
.ui-btn-up-f, .ui-btn-hover-f, .ui-btn-down-f {
    font-family: Helvetica,Arial,sans-serif;
    text-decoration: none;
}
.ui-checkbox-on .ui-icon, .ui-radio-on .ui-icon {
	background-color: #607401;
}

/*  
 * Data Theme G 
 * ======================== *
 */
.ui-body-g, .ui-overlay-g {
	border: 0px solid #999;
	color: #222;
	text-shadow: 0 1px 0 white;
	font-weight: normal;
	background-color: #333;
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0,142,152, 0.5)), color-stop(100%, rgba(0,85,92, 0.5))), url('../images/bg.png');
	background-image: -webkit-linear-gradient(top, rgba(0,142,152, 0.5), rgba(0,48,52, )), url('../images/bg.png');
	background-image: -moz-linear-gradient(top, rgba(0,142,152, 0.5), rgba(0,85,92, 0.5)), url('../images/bg.png');
	background-image: -ms-linear-gradient(top, rgba(0,142,152, 0.5), rgba(0,85,92, 0.5)), url('../images/bg.png');
	background-image: -o-linear-gradient(top, rgba(0,142,152, 0.5), rgba(0,85,92, 0.5)), url('../images/bg.png');
	background-image: linear-gradient(top, rgba(0,142,152, 0.5), rgba(0,85,92, 0.5)), url('../images/bg.png');
}
.ui-body-g, .ui-body-g input, .ui-body-g select, .ui-body-g textarea, .ui-body-g button {
	font-family: Helvetica,Arial,sans-serif;
	color: #fff;
	text-shadow: 0 1px 0 #333;
}
.ui-bar-g {
	border-bottom: 1px solid #005e65;
	background: #369ea4;
	color: white;
	font-weight: bold;
	text-shadow: 0 1px 1px #369ea4;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#0096a1), to(#005e65));
	background-image: -webkit-linear-gradient(#0096a1, #005e65);
	background-image: -moz-linear-gradient(#0096a1, #005e65);
	background-image: -ms-linear-gradient(#0096a1, #005e65);
	background-image: -o-linear-gradient(#0096a1, #005e65);
	background-image: linear-gradient(#0096a1, #005e65);
}
.ui-bar-g, .ui-bar-g input, .ui-bar-g select, .ui-bar-g textarea, .ui-bar-g button {
    font-family: Helvetica,Arial,sans-serif;
}
.ui-bar-g, .ui-bar-g .ui-link-inherit {
    color: #FFFFFF;
}
.ui-bar-g .ui-link {
    color: #FFFFFF;
    font-weight: bold;
}
.ui-btn-up-g {
	border: 1px solid #369ea4;
	background: #369ea4;
	font-weight: bold;
	color: white;
	text-shadow: 0 1px 1px #369ea4;
	background-image: -webkit-gradient(linear,left top,left bottom,from(#3ebcbf),to(#369ea4));
	background-image: -webkit-linear-gradient(#3ebcbf, #369ea4);
	background-image: -moz-linear-gradient(#3ebcbf, #369ea4);
	background-image: -ms-linear-gradient(#3ebcbf, #369ea4);
	background-image: -o-linear-gradient(#3ebcbf, #369ea4);
	background-image: linear-gradient(#3ebcbf, #369ea4);
    border: 1px solid #369ea4;
    color: #FFFFFF;
    font-weight: bold;
    text-shadow: 0 1px 1px #369ea4;
}
.ui-btn-up-g a.ui-link-inherit {
    color: #FFFFFF;
}

.ui-btn-hover-g {
	background-image: -webkit-gradient(linear,left top,left bottom,from(#369ea4),to(#3ebcbf));
	background-image: -webkit-linear-gradient(#369ea4, #3ebcbf);
	background-image: -moz-linear-gradient(#369ea4, #3ebcbf);
	background-image: -ms-linear-gradient(#369ea4, #3ebcbf);
	background-image: -o-linear-gradient(#369ea4, #3ebcbf);
	background-image: linear-gradient(#369ea4, #3ebcbf);
    background: -moz-linear-gradient(#369ea4, #3ebcbf) repeat scroll 0 0 #369ea4;
    border: 1px solid #369ea4;
    color: #FFFFFF;
    font-weight: bold;
    text-shadow: 0 1px 1px #369ea4;
}
.ui-btn-hover-g a.ui-link-inherit {
    color: #FFFFFF;
}
.ui-btn-down-g {
	background-image: -webkit-gradient(linear,left top,left bottom,from(#369ea4),to(#3ebcbf));
	background-image: -webkit-linear-gradient(#369ea4, #3ebcbf);
	background-image: -moz-linear-gradient(#369ea4, #3ebcbf);
	background-image: -ms-linear-gradient(#369ea4, #3ebcbf);
	background-image: -o-linear-gradient(#369ea4, #3ebcbf);
	background-image: linear-gradient(#369ea4, #3ebcbf);
    background: -moz-linear-gradient(#369ea4, #3ebcbf) repeat scroll 0 0 #369ea4;
    border: 1px solid #369ea4;
    color: #FFFFFF;
    font-weight: bold;
    text-shadow: 0 1px 1px #369ea4;
}
.ui-btn-down-g a.ui-link-inherit {
    color: #FFFFFF;
}
.ui-btn-up-g, .ui-btn-hover-g, .ui-btn-down-g {
    font-family: Helvetica,Arial,sans-serif;
    text-decoration: none;
}

