	/**
 * @author Lucy Hutcheson
 * Date: 2012-03-01
 * Created for:  Mobile Interfaces and Usability 1203
 */

/* LAYOUT ELEMENTS */
#header {
	background: url('../images/just-a-hutch-header.png') repeat-x bottom left;
	margin: 0px auto;
	padding-top: 10px;
	padding-left: 20px;
	-webkit-box-shadow:  0px 3px 5px 0px rgba(0, 0, 0, 0.3);
	box-shadow:  0px 3px 5px 0px rgba(0, 0, 0, 0.3);
}
.content-a, .content-b {
	float: left;
	margin-right: 30px;
	width: 45%;
}
.content-a {
	margin-left: 2%;
}
.required {
	color: red;
}
.error {
	color: red;
	font-style: italic;
}
fieldset legend {
	font-weight: bold;
	color: #607401;
	padding-bottom: 10px;
}
a {
	text-decoration: none;
}
#logo {
	text-align: left;
	max-width: 515px;
	width: 35%;
}
#feature {
	padding-bottom: 10px;
	clear: both;
}
#content .content-container {
	background: #f3f3f3;
	padding: 20px;
	font-weight: normal;
}
.ui-input-datebox {
	background: #f3f3f3 !important;
}
.hidden {
	display: none !important;
	visibility: hidden;
}
.ui-footer {
	background: url('../images/just-a-hutch-footer.png') repeat-x;
	-webkit-box-shadow:  0px -3px 5px 0px rgba(0, 0, 0, 0.3);
	box-shadow:  0px -3px 5px 0px rgba(0, 0, 0, 0.3);
	padding-bottom: 20px;
	padding-top: 10px;
	color: #fff;
}

.ui-bar-c {
	border-top: 0 none;
}
#home .section {
	width: 100%;
}
#home .section .item {
	float: left;
	width: 40%;
	background: #fff;
	border: 6px solid #f1f1f1;
	border-radius: 10px;
	margin-left: 2%;
	padding: 5px;
	text-align: center;
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.7);
    -moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.7);
    -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.7);
}
#home .research .item {
	text-align: left;
	width: 90%;
}
#home .research .item img {
	max-width: 80px;
	width: 5%;
	float: left;
	margin-right: 10px;
}
#home .videos .item img  {
	max-width: 80px;
	width: 50%;
}

#home .crud .item, #home .videos .item {
	width: 23%;
	min-height: 50px;
	float: left;
	padding-top: 20px;
}
#home .item {
	width: 90%;
	margin-bottom: 7px;
}
#home .developer .item {
	padding: 10px 0 10px 20px;
	text-align: left;
	background: #111;
	width: 90%;
	border:  none;
}
#home .demo1 .item img, #home .demo2 .item img {
	width: 50%;
	max-width: 150px;	
}
#home h3 {
	padding: 5px;
	border-radius: 7px;
	background: #ccc;
	color: white;
	font-weight: bold;
	text-shadow: 0 1px 2px #7d3b00;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#ffc162), to(#ff861f));
	background-image: -webkit-linear-gradient(#ffc162, #ff861f);
	background-image: -moz-linear-gradient(#ffc162, #ff861f);
	background-image: -ms-linear-gradient(#ffc162, #ff861f);
	background-image: -o-linear-gradient(#ffc162, #ff861f);
	background-image: linear-gradient(#ffc162, #ff861f);
}
#home h4, #home p {
	margin: 0;
	padding: 0;
}
#home #content h4 {
	color: #c10468;
	font-size: 1.5em;
}
#home .ui-link {
	color: #555;
	font-weight: normal;
}



.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}

@media (max-width:768px) {
	.content-a, .content-b {
		float: none;
		padding: 0px;
		width: 98%;
	}
	.content-a {
		margin-left: 0;
	}
	#header {
		text-align: center;	
		padding-left: 0;
	}
	#home .section .item .text {
		float: left;
		width: 60%;
	}
	#home .section .item img {
		float: right;
		width: 30%;
	}
}

@media (max-width:640px) {
	#logo {
		width: 250px;
		height: 77px;
	}
	#home .section .item .text {
		float: none;
		width: 90%;
	}
	#home .section .item img {
		float: none;
		width: 40%;
	}
	#home .research .item img {
		max-width: 80px;
		width: 8%;
		float: left;
		margin-right: 10px;
	}
}
@media (max-width: 500px) {
	#home .section .item {
		clear: both;
		width: 90%;	
		margin-bottom: 10px;
	}
	#home .item {
		width: 90%;
		float: none;
		padding: 7px;
	}
	#home .crud .item, #home .videos .item, #home .research .item {
		width: 90%;
		float: none;
		padding: 7px;
		min-height: 30px;
	}
	#home .section .item .text {
		float: left;
		width: 60%;
	}
	#home .section .item img {
		float: right;
		width: 30%;
	}
	#home .videos .item img, #home .research .item img  {
		max-width: 80px;
		width: 15%;
		position: relative;
		top: -10px;
	}
	#home .videos .item {
		text-align: left;
	}
}


/*  
 * Data Theme F 
 * ======================== *
 */
.ui-body-f, .ui-overlay-f {
	border: 1px solid #999;
	color: #222;
	text-shadow: 0 1px 0 white;
	font-weight: normal;
	background-color: #ededed;
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(237,237,237, 0.5)), color-stop(100%, rgba(153,153,153, 0.5))), url('../images/bg.png');
	background-image: -webkit-linear-gradient(top, rgba(250,250,250, 0.5), rgba(110,110,110, 0.35)), url('../images/bg.png');
	background-image: -moz-linear-gradient(top, rgba(237,237,237, 0.5), rgba(153,153,153, 0.5)), url('../images/bg.png');
	background-image: -ms-linear-gradient(top, rgba(237,237,237, 0.5), rgba(153,153,153, 0.5)), url('../images/bg.png');
	background-image: -o-linear-gradient(top, rgba(237,237,237, 0.5), rgba(153,153,153, 0.5)), url('../images/bg.png');
	background-image: linear-gradient(top, rgba(237,237,237, 0.5), rgba(153,153,153, 0.5)), url('../images/bg.png');
}
.ui-body-f, .ui-body-f input, .ui-body-f select, .ui-body-f textarea, .ui-body-f button {
font-family: Helvetica,Arial,sans-serif;
}
.ui-bar-f {
	border-bottom: 1px solid #6e8600;
	background: #7f9b00;
	color: white;
	font-weight: bold;
	text-shadow: 0 1px 1px #6e8600;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#acd200), to(#7f9b00));
	background-image: -webkit-linear-gradient(#acd200, #7f9b00);
	background-image: -moz-linear-gradient(#acd200, #7f9b00);
	background-image: -ms-linear-gradient(#acd200, #7f9b00);
	background-image: -o-linear-gradient(#acd200, #7f9b00);
	background-image: linear-gradient(#acd200, #7f9b00);
}
.ui-bar-f, .ui-bar-f input, .ui-bar-f select, .ui-bar-f textarea, .ui-bar-f button {
    font-family: Helvetica,Arial,sans-serif;
}
.ui-bar-f, .ui-bar-f .ui-link-inherit {
    color: #FFFFFF;
}
.ui-bar-f .ui-link {
    color: #FFFFFF;
    font-weight: bold;
}
.ui-btn-up-f {
	border-bottom: 1px solid #6e8600;
	background: #7f9b00;
	color: white;
	font-weight: bold;
	text-shadow: 0 1px 1px #6e8600;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#acd200), to(#7f9b00));
	background-image: -webkit-linear-gradient(#acd200, #7f9b00);
	background-image: -moz-linear-gradient(#acd200, #7f9b00);
	background-image: -ms-linear-gradient(#acd200, #7f9b00);
	background-image: -o-linear-gradient(#acd200, #7f9b00);
	background-image: linear-gradient(#acd200, #7f9b00);
}
.ui-btn-up-f a.ui-link-inherit {
    color: #FFFFFF;
}
.ui-btn-hover-f {
	border-bottom: 1px solid #6e8600;
	background: #7f9b00;
	color: white;
	font-weight: bold;
	text-shadow: 0 1px 1px #6e8600;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#7f9b00), to(#acd200));
	background-image: -webkit-linear-gradient(#7f9b00, #acd200);
	background-image: -moz-linear-gradient(#7f9b00, #acd200);
	background-image: -ms-linear-gradient(#7f9b00, #acd200);
	background-image: -o-linear-gradient(#7f9b00, #acd200);
	background-image: linear-gradient(#7f9b00, #acd200);
}
.ui-btn-hover-f a.ui-link-inherit {
    color: #FFFFFF;
}
.ui-btn-down-f {
	border-bottom: 1px solid #6e8600;
	background: #7f9b00;
	color: white;
	font-weight: bold;
	text-shadow: 0 1px 1px #6e8600;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#7f9b00), to(#acd200));
	background-image: -webkit-linear-gradient(#7f9b00, #acd200);
	background-image: -moz-linear-gradient(#7f9b00, #acd200);
	background-image: -ms-linear-gradient(#7f9b00, #acd200);
	background-image: -o-linear-gradient(#7f9b00, #acd200);
	background-image: linear-gradient(#7f9b00, #acd200);
}
.ui-btn-down-f a.ui-link-inherit {
    color: #FFFFFF;
}
.ui-btn-up-f, .ui-btn-hover-f, .ui-btn-down-f {
    font-family: Helvetica,Arial,sans-serif;
    text-decoration: none;
}
.ui-checkbox-on .ui-icon, .ui-radio-on .ui-icon {
	background-color: #6e8600;
}

/*  
 * Data Theme G 
 * ======================== *
 */
.ui-bar-g {
	border-bottom: 1px solid #369ea4;
	color: white;
	font-weight: bold;
	text-shadow: 0 1px 1px #369ea4;
	background: #369ea4;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#3ebcbf), to(#369ea4));
	background-image: -webkit-linear-gradient(#3ebcbf, #369ea4);
	background-image: -moz-linear-gradient(#3ebcbf, #369ea4);
	background-image: -ms-linear-gradient(#3ebcbf, #369ea4);
	background-image: -o-linear-gradient(#3ebcbf, #369ea4);
	background-image: linear-gradient(#3ebcbf, #369ea4);
}
.ui-bar-g, .ui-bar-g input, .ui-bar-g select, .ui-bar-g textarea, .ui-bar-g button {
    font-family: Helvetica,Arial,sans-serif;
}
.ui-bar-g, .ui-bar-g .ui-link-inherit {
    color: #FFFFFF;
}
.ui-bar-g .ui-link {
    color: #FFFFFF;
    font-weight: bold;
}
.ui-btn-up-g {
	border: 1px solid #369ea4;
	background: #369ea4;
	font-weight: bold;
	color: white;
	text-shadow: 0 1px 1px #369ea4;
	background-image: -webkit-gradient(linear,left top,left bottom,from(#3ebcbf),to(#369ea4));
	background-image: -webkit-linear-gradient(#3ebcbf, #369ea4);
	background-image: -moz-linear-gradient(#3ebcbf, #369ea4);
	background-image: -ms-linear-gradient(#3ebcbf, #369ea4);
	background-image: -o-linear-gradient(#3ebcbf, #369ea4);
	background-image: linear-gradient(#3ebcbf, #369ea4);
    border: 1px solid #369ea4;
    color: #FFFFFF;
    font-weight: bold;
    text-shadow: 0 1px 1px #369ea4;
}
.ui-btn-up-g a.ui-link-inherit {
    color: #FFFFFF;
}
.ui-btn-hover-g {
    background: -moz-linear-gradient(#8FC963, #6EBC1F) repeat scroll 0 0 #6EBC1F;
    border: 1px solid #218187;
    color: #FFFFFF;
    font-weight: bold;
    text-shadow: 0 1px 1px #369ea4;
}
.ui-btn-hover-g a.ui-link-inherit {
    color: #FFFFFF;
}
.ui-btn-down-g {
    background: -moz-linear-gradient(#56A00E, #64A234) repeat scroll 0 0 #3D3D3D;
    border: 1px solid #218187;
    color: #FFFFFF;
    font-weight: bold;
    text-shadow: 0 1px 1px #369ea4;
}
.ui-btn-down-g a.ui-link-inherit {
    color: #FFFFFF;
}
.ui-btn-up-g, .ui-btn-hover-g, .ui-btn-down-f {
    font-family: Helvetica,Arial,sans-serif;
    text-decoration: none;
}